* {
    font-family: sans-serif;
}

/* since all items in section 1 have the same
color under header tag*/

header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar {
    padding: 20px;
    display: flex;
}

/* rearranging the navbar elements */
#main-logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 20 1 0%;
    /* padding-left: 200px; */
    padding-left: 330px;
}

.navbar h3 {
    font-size: small;
    margin: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
.section1 {
    display: flex;
    /* margin-right: 0px; */
    padding: 50px;

}

.section1 .left_side {
    flex-basis: 50%;
    padding-left: 300px;
    padding-bottom: 50px;
}
#hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0px;
}
#hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 8px;
}
.left_side button {
    background-color: #3882F6;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 7px;
    padding: 8px 24px;
    margin-top: 0px;
}

.section1 .right_side {
    flex-basis: 50%;
    padding-right: 300px;
    padding-bottom: 50px;
}
#image1 {
    /* to be modified */
    padding: inherit;
}

/* ---------------------------------------------------------------------------------------------- */
.info {
    background-color: white;
}
.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}
.category {
    display:flex;
    justify-content: center;
    padding-bottom: 80px;
}
.content p,img {
    flex-direction: column;
    padding: 18px;
    margin: auto;

}
.content p{
    padding:0px;
}

/* ---------------------------------------------------------------------------------------------- */
.quote {
    background-color: #E5E7EB;
    flex-direction: column;
    text-align:center;
    display: flex;
}
#message {
    text-align: justify;
    padding-top: 50px;
    padding-left: 650px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
#message2 {
    text-align: end;
    padding-right: 420px;
    font-weight: bolder;
}



/* ---------------------------------------------------------------------------------------------- */
.footer {
    background-color: #3882F6;
}



